<!-- start: header -->
<header class="header header-nav-menu header-nav-links">
    <div class="logo-container">
        <!-- start: header nav menu -->
        <div class="header-nav collapse">
            <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 header-nav-main-square">
                <nav>
                    <ul class="nav nav-pills" id="mainNav">
                        <li class="">
                            <a class="nav-link" href="/admin">
                                Dashboard
                            </a>    
                        </li>
                        <li class="">
                            <a class="nav-link" href="/admin/user">
                                Users
                            </a>    
                        </li>
                        <li class="">
                            <a class="nav-link" href="/admin/order">
                                Orders
                            </a>    
                        </li>
                        <li class="">
                            <a class="nav-link" href="/admin/book">
                                Books
                            </a>    
                        </li>
                        <li class="">
                            <a class="nav-link" href="/admin/blog">
                                Blogs
                            </a>    
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        <!-- end: header nav menu -->
    </div>

    <!-- start: search & user box -->
    <div class="header-right">

        <div id="userbox" class="userbox">
            <a href="#" data-bs-toggle="dropdown">

                <div class="profile-info profile-info-no-role">
                    <span class="name">Setting up things
                </div>

                <i class="fas fa-chevron-down text-color-dark"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li>
                        <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="bx bx-user"></i> My Profile</a>
                    </li>
                    <li>
                        <a role="menuitem" tabindex="-1" onclick="logout('admin')"><i class="bx bx-log-out"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end: search & user box -->
</header>
<!-- end: header -->