doctype html
// Mirrored from htmldemo.net/koparion/koparion/product-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2022 18:11:13 GMT
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Koparion &ndash; Book Shop HTML5 Template
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Favicon
  link(rel='shortcut icon' type='image/x-icon' href='img/favicon.png')
  // all css here
  // bootstrap v3.3.6 css
  link(rel='stylesheet' href='../public/css/bootstrap.min.css')
  // animate css
  link(rel='stylesheet' href='../public/css/animate.css')
  // meanmenu css
  link(rel='stylesheet' href='../public/css/meanmenu.min.css')
  // owl.carousel css
  link(rel='stylesheet' href='../public/css/owl.carousel.css')
  // font-awesome css
  link(rel='stylesheet' href='../public/css/font-awesome.min.css')
  // flexslider.css
  link(rel='stylesheet' href='../public/css/flexslider.css')
  // chosen.min.css
  link(rel='stylesheet' href='../public/css/chosen.min.css')
  // style css
  link(rel='stylesheet' href='.../public/css/style.css')
  // responsive css
  link(rel='stylesheet' href='../public/css/responsive.css')
  // modernizr css
  script(src='../public/js/vendor/modernizr-2.8.3.min.js')
//if lt IE 8
  p.browserupgrade
    | You are using an 
    strong outdated
    |  browser. Please 
    a(href='http://browsehappy.com/') upgrade your browser
    |  to improve your experience.
// Add your site or application content here
// header-area-start
header
  // header-top-area-start
  .header-top-area
    .container
      .row
        .col-lg-6.col-md-6.col-12
          .language-area
            ul
              li
                img(src='img/flag/1.jpg' alt='flag')
                a(href='#')
                  | English
                  i.fa.fa-angle-down
                .header-sub
                  ul
                    li
                      a(href='#')
                        img(src='img/flag/2.jpg' alt='flag')
                        | france
                    li
                      a(href='#')
                        img(src='img/flag/3.jpg' alt='flag')
                        | croatia
              li
                a(href='#')
                  | USD $
                  i.fa.fa-angle-down
                .header-sub.dolor
                  ul
                    li
                      a(href='#') EUR &euro;
                    li
                      a(href='#') USD $
        .col-lg-6.col-md-6.col-12
          .account-area.text-right
            ul
              li
                a(href='my-account.html') My Account
              li
                a(href='checkout.html') Checkout
              li
                a(href='login.html') Sign in
  // header-top-area-end
  // header-mid-area-start
  .header-mid-area.ptb-40
    .container
      .row
        .col-lg-3.col-md-5.col-12
          .header-search
            form(action='#')
              input(type='text' placeholder='Search entire store here...')
              a(href='#')
                i.fa.fa-search
        .col-lg-6.col-md-4.col-12
          .logo-area.text-center.logo-xs-mrg
            a(href='index.html')
              img(src='img/logo/logo.png' alt='logo')
        .col-lg-3.col-md-3.col-12
          .my-cart
            ul
              li
                a(href='#')
                  i.fa.fa-shopping-cart
                  | My Cart
                span 2
                .mini-cart-sub
                  .cart-product
                    .single-cart
                      .cart-img
                        a(href='#')
                          img(src='img/product/1.jpg' alt='book')
                      .cart-info
                        h5
                          a(href='#') Joust Duffle Bag
                        p 1 x &pound;60.00
                      .cart-icon
                        a(href='#')
                          i.fa.fa-remove
                    .single-cart
                      .cart-img
                        a(href='#')
                          img(src='img/product/3.jpg' alt='book')
                      .cart-info
                        h5
                          a(href='#') Chaz Kangeroo Hoodie
                        p 1 x &pound;52.00
                      .cart-icon
                        a(href='#')
                          i.fa.fa-remove
                  .cart-totals
                    h5
                      | Total 
                      span &pound;12.00
                  .cart-bottom
                    a.view-cart(href='cart.html') view cart
                    a(href='checkout.html') Check out
  // header-mid-area-end
  // main-menu-area-start
  #header-sticky.main-menu-area.d-md-none.d-none.d-lg-block.sticky-header-1
    .container
      .row
        .col-lg-12
          .menu-area
            nav
              ul
                li.active
                  a(href='index.html')
                    | Home
                    i.fa.fa-angle-down
                  .sub-menu
                    ul
                      li
                        a(href='index.html') Home-1
                      li
                        a(href='index-2.html') Home-2
                      li
                        a(href='index-3.html') Home-3
                      li
                        a(href='index-4.html') Home-4
                      li
                        a(href='index-5.html') Home-5
                      li
                        a(href='index-6.html') Home-6
                      li
                        a(href='index-7.html') Home-7
                li
                  a(href='product-details.html')
                    | Book
                    i.fa.fa-angle-down
                  .mega-menu
                    span
                      a.title(href='#') Jackets
                      a(href='shop.html') Tops &amp; Tees
                      a(href='shop.html') Polo Short Sleeve
                      a(href='shop.html') Graphic T-Shirts
                      a(href='shop.html') Jackets &amp; Coats
                      a(href='shop.html') Fashion Jackets
                    span
                      a.title(href='#') weaters
                      a(href='shop.html') Crochet
                      a(href='shop.html') Sleeveless
                      a(href='shop.html') Stripes
                      a(href='shop.html') Sweaters
                      a(href='shop.html') hoodies
                    span
                      a.title(href='#') Bottoms
                      a(href='shop.html') Heeled sandals
                      a(href='shop.html') Polo Short Sleeve
                      a(href='shop.html') Flat sandals
                      a(href='shop.html') Short Sleeve
                      a(href='shop.html') Long Sleeve
                    span
                      a.title(href='#') Jeans Pants
                      a(href='shop.html') Polo Short Sleeve
                      a(href='shop.html') Sleeveless
                      a(href='shop.html') Graphic T-Shirts
                      a(href='shop.html') Hoodies
                      a(href='shop.html') Jackets
                li
                  a(href='product-details.html')
                    | Audio books
                    i.fa.fa-angle-down
                  .mega-menu
                    span
                      a.title(href='#') Shirts
                      a(href='shop.html') Tops &amp; Tees
                      a(href='shop.html') Sweaters 
                      a(href='shop.html') Hoodies
                      a(href='shop.html') Jackets &amp; Coats
                    span
                      a.title(href='#') Tops &amp; Tees
                      a(href='shop.html') Long Sleeve 
                      a(href='shop.html') Short Sleeve
                      a(href='shop.html') Polo Short Sleeve
                      a(href='shop.html') Sleeveless
                    span
                      a.title(href='#') Jackets
                      a(href='shop.html') Sweaters
                      a(href='shop.html') Hoodies
                      a(href='shop.html') Wedges
                      a(href='shop.html') Vests
                    span
                      a.title(href='#') Jeans Pants
                      a(href='shop.html') Polo Short Sleeve
                      a(href='shop.html') Sleeveless
                      a(href='shop.html') Graphic T-Shirts
                      a(href='shop.html') Hoodies
                li
                  a(href='product-details.html')
                    | children&rsquo;s books
                    i.fa.fa-angle-down
                  .mega-menu.mega-menu-2
                    span
                      a.title(href='#') Tops
                      a(href='shop.html') Shirts
                      a(href='shop.html') Florals
                      a(href='shop.html') Crochet
                      a(href='shop.html') Stripes
                    span
                      a.title(href='#') Bottoms
                      a(href='shop.html') Shorts
                      a(href='shop.html') Dresses
                      a(href='shop.html') Trousers
                      a(href='shop.html') Jeans
                    span
                      a.title(href='#') Shoes
                      a(href='shop.html') Heeled sandals
                      a(href='shop.html') Flat sandals
                      a(href='shop.html') Wedges
                      a(href='shop.html') Ankle boots
                li
                  a(href='#')
                    | blog
                    i.fa.fa-angle-down
                  .sub-menu.sub-menu-2
                    ul
                      li
                        a(href='blog.html') blog
                      li
                        a(href='blog-details.html') blog-details
                li
                  a(href='#')
                    | pages
                    i.fa.fa-angle-down
                  .sub-menu.sub-menu-2
                    ul
                      li
                        a(href='shop.html') shop
                      li
                        a(href='shop-list.html') shop list view
                      li
                        a(href='product-details.html') product-details
                      li
                        a(href='product-details-affiliate.html') product-affiliate
                      li
                        a(href='blog.html') blog
                      li
                        a(href='blog-details.html') blog-details
                      li
                        a(href='contact.html') contact
                      li
                        a(href='about.html') about
                      li
                        a(href='login.html') login
                      li
                        a(href='register.html') register
                      li
                        a(href='my-account.html') my-account
                      li
                        a(href='cart.html') cart
                      li
                        a(href='compare.html') compare
                      li
                        a(href='checkout.html') checkout
                      li
                        a(href='wishlist.html') wishlist
                      li
                        a(href='404.html') 404 Page
          .safe-area
            a(href='product-details.html') sales off
  // main-menu-area-end
  // mobile-menu-area-start
  .mobile-menu-area.d-lg-none.d-block.fix
    .container
      .row
        .col-lg-12
          .mobile-menu
            nav#mobile-menu-active
              ul#nav
                li
                  a(href='index.html') Home
                  ul
                    li
                      a(href='index.html') Home-1
                    li
                      a(href='index-2.html') Home-2
                    li
                      a(href='index-3.html') Home-3
                    li
                      a(href='index-4.html') Home-4
                    li
                      a(href='index-5.html') Home-5
                    li
                      a(href='index-6.html') Home-6
                    li
                      a(href='index-7.html') Home-7
                li
                  a(href='product-details.html') Book
                  ul
                    li
                      a(href='shop.html') Tops &amp; Tees
                    li
                      a(href='shop.html') Polo Short Sleeve
                    li
                      a(href='shop.html') Graphic T-Shirts
                    li
                      a(href='shop.html') Jackets &amp; Coats
                    li
                      a(href='shop.html') Fashion Jackets
                    li
                      a(href='shop.html') Crochet
                    li
                      a(href='shop.html') Sleeveless
                    li
                      a(href='shop.html') Stripes
                    li
                      a(href='shop.html') Sweaters
                    li
                      a(href='shop.html') hoodies
                    li
                      a(href='shop.html') Heeled sandals
                    li
                      a(href='shop.html') Polo Short Sleeve
                    li
                      a(href='shop.html') Flat sandals
                    li
                      a(href='shop.html') Short Sleeve
                    li
                      a(href='shop.html') Long Sleeve
                    li
                      a(href='shop.html') Polo Short Sleeve
                    li
                      a(href='shop.html') Sleeveless
                    li
                      a(href='shop.html') Graphic T-Shirts
                    li
                      a(href='shop.html') Hoodies
                    li
                      a(href='shop.html') Jackets
                li
                  a(href='product-details.html') Audio books
                  ul
                    li
                      a(href='shop.html') Tops &amp; Tees
                    li
                      a(href='shop.html') Sweaters
                    li
                      a(href='shop.html') Hoodies
                    li
                      a(href='shop.html') Jackets &amp; Coats
                    li
                      a(href='shop.html') Long Sleeve
                    li
                      a(href='shop.html') Short Sleeve
                    li
                      a(href='shop.html') Polo Short Sleeve
                    li
                      a(href='shop.html') Sleeveless
                    li
                      a(href='shop.html') Sweaters
                    li
                      a(href='shop.html') Hoodies
                    li
                      a(href='shop.html') Wedges
                    li
                      a(href='shop.html') Vests
                    li
                      a(href='shop.html') Polo Short Sleeve
                    li
                      a(href='shop.html') Sleeveless
                    li
                      a(href='shop.html') Graphic T-Shirts
                    li
                      a(href='shop.html') Hoodies
                li
                  a(href='product-details.html') children&rsquo;s books
                  ul
                    li
                      a(href='shop.html') Shirts
                    li
                      a(href='shop.html') Florals
                    li
                      a(href='shop.html') Crochet
                    li
                      a(href='shop.html') Stripes
                    li
                      a(href='shop.html') Shorts
                    li
                      a(href='shop.html') Dresses
                    li
                      a(href='shop.html') Trousers
                    li
                      a(href='shop.html') Jeans
                    li
                      a(href='shop.html') Heeled sandals
                    li
                      a(href='shop.html') Flat sandals
                    li
                      a(href='shop.html') Wedges
                    li
                      a(href='shop.html') Ankle boots
                li
                  a(href='#') blog
                  ul
                    li
                      a(href='blog.html') Blog
                    li
                      a(href='blog-details.html') blog-details
                li
                  a(href='product-details.html') Page
                  ul
                    li
                      a(href='shop.html') shop
                    li
                      a(href='shop-list.html') shop list view
                    li
                      a(href='product-details.html') product-details
                    li
                      a(href='product-details-affiliate.html') product-affiliate
                    li
                      a(href='blog.html') blog
                    li
                      a(href='blog-details.html') blog-details
                    li
                      a(href='contact.html') contact
                    li
                      a(href='about.html') about
                    li
                      a(href='login.html') login
                    li
                      a(href='register.html') register
                    li
                      a(href='my-account.html') my-account
                    li
                      a(href='cart.html') cart
                    li
                      a(href='compare.html') compare
                    li
                      a(href='checkout.html') checkout
                    li
                      a(href='wishlist.html') wishlist
                    li
                      a(href='404.html') 404 Page
  // mobile-menu-area-end
// header-area-end
// breadcrumbs-area-start
.breadcrumbs-area.mb-70
  .container
    .row
      .col-lg-12
        .breadcrumbs-menu
          ul
            li
              a(href='#') Home
            li
              a.active(href='#') product-details
// breadcrumbs-area-end
// product-main-area-start
.product-main-area.mb-70
  .container
    .row
      .col-lg-9.col-md-12.col-12.order-lg-1.order-1
        // product-main-area-start
        .product-main-area
          .row
            .col-lg-5.col-md-6.col-12
              .flexslider
                ul.slides
                  li(data-thumb='img/thum-2/1.jpg')
                    img(src='img/flex/1.jpg' alt='woman')
                  li(data-thumb='img/thum-2/4.jpg')
                    img(src='img/flex/5.jpg' alt='woman')
                  li(data-thumb='img/thum-2/2.jpg')
                    img(src='img/flex/2.jpg' alt='woman')
                  li(data-thumb='img/thum-2/5.jpg')
                    img(src='img/flex/5.jpg' alt='woman')
            .col-lg-7.col-md-6.col-12
              .product-info-main
                .page-title
                  h1 Savvy Shoulder Tote
                .product-info-stock-sku
                  span In stock
                  .product-attribute
                    span SKU
                    span.value 24-WB05
                .product-reviews-summary
                  .rating-summary
                    a(href='#')
                      i.fa.fa-star
                    a(href='#')
                      i.fa.fa-star
                    a(href='#')
                      i.fa.fa-star
                    a(href='#')
                      i.fa.fa-star
                    a(href='#')
                      i.fa.fa-star
                  .reviews-actions
                    a(href='#') 3 Reviews
                    a.view(href='#') Add Your Review
                .product-info-price
                  .price-final
                    span $34.00
                    span.old-price $40.00
                .product-add-form
                  form(action='#')
                    .quality-button
                      input.qty(type='number' value='1')
                    a(href='#') Add to cart
                .product-social-links
                  .product-addto-links-text
                    p
                      | Powerwalking to the gym or strolling to the local coffeehouse, the Savvy Shoulder Tote lets you stash your essentials in sporty style! A top-loading compartment provides quick and easy access to larger items, while zippered pockets on the front and side hold cash, credit cards and phone.
        // product-main-area-end
        // product-info-area-start
        .product-info-area.mt-80
          // Nav tabs
          ul.nav
            li
              a.active(href='#Details' data-toggle='tab') Details
            li
              a(href='#Reviews' data-toggle='tab') Reviews 3
          .tab-content
            #Details.tab-pane.fade.show.active
              .valu
                p
                  | The sporty Joust Duffle Bag can&apos;t be beat - not in the gym, not on the luggage carousel, not anywhere. Big enough to haul a basketball or soccer ball and some sneakers with plenty of room to spare, it&apos;s ideal for athletes with places to go.
                ul
                  li
                    i.fa.fa-circle
                    | Dual top handles.
                  li
                    i.fa.fa-circle
                    | Adjustable shoulder strap.
                  li
                    i.fa.fa-circle
                    | Full-length zipper.
                  li
                    i.fa.fa-circle
                    | L 29&quot; x W 13&quot; x H 11&quot;.
            #Reviews.tab-pane.fade
              .valu.valu-2
                .section-title.mb-60.mt-60
                  h2 Customer Reviews
                ul
                  li
                    .review-title
                      h3 themes
                    .review-left
                      .review-rating
                        span Price
                        .rating-result
                          a(href='#')
                            i.fa.fa-star
                          a(href='#')
                            i.fa.fa-star
                          a(href='#')
                            i.fa.fa-star
                          a(href='#')
                            i.fa.fa-star
                          a(href='#')
                            i.fa.fa-star
                      .review-rating
                        span Value
                        .rating-result
                          a(href='#')
                            i.fa.fa-star
                          a(href='#')
                            i.fa.fa-star
                          a(href='#')
                            i.fa.fa-star
                          a(href='#')
                            i.fa.fa-star
                          a(href='#')
                            i.fa.fa-star
                      .review-rating
                        span Quality
                        .rating-result
                          a(href='#')
                            i.fa.fa-star
                          a(href='#')
                            i.fa.fa-star
                          a(href='#')
                            i.fa.fa-star
                          a(href='#')
                            i.fa.fa-star
                          a(href='#')
                            i.fa.fa-star
                    .review-right
                      .review-content
                        h4 themes 
                      .review-details
                        p.review-author
                          | Review by
                          a(href='#') plaza
                        p.review-date
                          | Posted on 
                          span 12/9/16
                .review-add
                  h3 You&apos;re reviewing:
                  h4 Joust Duffle Bag
                .review-field-ratings
                  span
                    | Your Rating 
                    sup *
                  .control
                    .single-control
                      span Value
                      .review-control-vote
                        a(href='#')
                          i.fa.fa-star
                        a(href='#')
                          i.fa.fa-star
                        a(href='#')
                          i.fa.fa-star
                        a(href='#')
                          i.fa.fa-star
                        a(href='#')
                          i.fa.fa-star
                    .single-control
                      span Quality
                      .review-control-vote
                        a(href='#')
                          i.fa.fa-star
                        a(href='#')
                          i.fa.fa-star
                        a(href='#')
                          i.fa.fa-star
                        a(href='#')
                          i.fa.fa-star
                        a(href='#')
                          i.fa.fa-star
                    .single-control
                      span Price
                      .review-control-vote
                        a(href='#')
                          i.fa.fa-star
                        a(href='#')
                          i.fa.fa-star
                        a(href='#')
                          i.fa.fa-star
                        a(href='#')
                          i.fa.fa-star
                        a(href='#')
                          i.fa.fa-star
                .review-form
                  .single-form
                    label
                      | Nickname 
                      sup *
                    form(action='#')
                      input(type='text')
                  .single-form.single-form-2
                    label
                      | Summary 
                      sup *
                    form(action='#')
                      input(type='text')
                  .single-form
                    label
                      | Review 
                      sup *
                    form(action='#')
                      textarea(name='massage' cols='10' rows='4')
                .review-form-button
                  a(href='#') Submit Review
        // product-info-area-end
        // new-book-area-start
        .new-book-area.mt-60
          .section-title.text-center.mb-30
            h3 upsell products
          .tab-active-2.owl-carousel
            // single-product-start
            .product-wrapper
              .product-img
                a(href='#')
                  img.primary(src='img/product/1.jpg' alt='book')
                .quick-view
                  a.action-view(href='#' data-target='#productModal' data-toggle='modal' title='Quick View')
                    i.fa.fa-search-plus
                .product-flag
                  ul
                    li
                      span.sale new
                    li
                      span.discount-percentage -5%
              .product-details.text-center
                .product-rating
                  ul
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                h4
                  a(href='#') Joust Duffle Bag
                .product-price
                  ul
                    li $60.00
              .product-link
                .product-button
                  a(href='#' title='Add to cart')
                    i.fa.fa-shopping-cart
                    | Add to cart
                .add-to-link
                  ul
                    li
                      a(href='product-details.html' title='Details')
                        i.fa.fa-external-link
            // single-product-end
            // single-product-start
            .product-wrapper
              .product-img
                a(href='#')
                  img.primary(src='img/product/3.jpg' alt='book')
                .quick-view
                  a.action-view(href='#' data-target='#productModal' data-toggle='modal' title='Quick View')
                    i.fa.fa-search-plus
                .product-flag
                  ul
                    li
                      span.sale new
              .product-details.text-center
                .product-rating
                  ul
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                h4
                  a(href='#') Chaz Kangeroo Hoodie
                .product-price
                  ul
                    li $52.00
              .product-link
                .product-button
                  a(href='#' title='Add to cart')
                    i.fa.fa-shopping-cart
                    | Add to cart
                .add-to-link
                  ul
                    li
                      a(href='product-details.html' title='Details')
                        i.fa.fa-external-link
            // single-product-end
            // single-product-start
            .product-wrapper
              .product-img
                a(href='#')
                  img.primary(src='img/product/5.jpg' alt='book')
                .quick-view
                  a.action-view(href='#' data-target='#productModal' data-toggle='modal' title='Quick View')
                    i.fa.fa-search-plus
                .product-flag
                  ul
                    li
                      span.discount-percentage -5%
              .product-details.text-center
                .product-rating
                  ul
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                h4
                  a(href='#') Set of Sprite Yoga Straps
                .product-price
                  ul
                    li
                      span Starting at
                      | $34.00
              .product-link
                .product-button
                  a(href='#' title='Add to cart')
                    i.fa.fa-shopping-cart
                    | Add to cart
                .add-to-link
                  ul
                    li
                      a(href='product-details.html' title='Details')
                        i.fa.fa-external-link
            // single-product-end
            // single-product-start
            .product-wrapper
              .product-img
                a(href='#')
                  img.primary(src='img/product/7.jpg' alt='book')
                .quick-view
                  a.action-view(href='#' data-target='#productModal' data-toggle='modal' title='Quick View')
                    i.fa.fa-search-plus
                .product-flag
                  ul
                    li
                      span.sale new
                    li
                      span.discount-percentage -5%
              .product-details.text-center
                .product-rating
                  ul
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                    li
                      a(href='#')
                        i.fa.fa-star
                h4
                  a(href='#') Strive Shoulder Pack
                .product-price
                  ul
                    li $30.00
                    li.old-price $32.00
              .product-link
                .product-button
                  a(href='#' title='Add to cart')
                    i.fa.fa-shopping-cart
                    | Add to cart
                .add-to-link
                  ul
                    li
                      a(href='product-details.html' title='Details')
                        i.fa.fa-external-link
            // single-product-end
        // new-book-area-start
      .col-lg-3.col-md-12.col-12.order-lg-2.order-2
        .shop-left
          .left-title.mb-20
            h4 Related Products
          .random-area.mb-30
            .product-active-2.owl-carousel
              .product-total-2
                .single-most-product.bd.mb-18
                  .most-product-img
                    a(href='#')
                      img(src='img/product/20.jpg' alt='book')
                  .most-product-content
                    .product-rating
                      ul
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                    h4
                      a(href='#') Endeavor Daytrip
                    .product-price
                      ul
                        li $30.00
                        li.old-price $33.00
                .single-most-product.bd.mb-18
                  .most-product-img
                    a(href='#')
                      img(src='img/product/21.jpg' alt='book')
                  .most-product-content
                    .product-rating
                      ul
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                    h4
                      a(href='#') Savvy Shoulder Tote
                    .product-price
                      ul
                        li $30.00
                        li.old-price $35.00
                .single-most-product
                  .most-product-img
                    a(href='#')
                      img(src='img/product/22.jpg' alt='book')
                  .most-product-content
                    .product-rating
                      ul
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                    h4
                      a(href='#') Compete Track Tote
                    .product-price
                      ul
                        li $35.00
              .product-total-2
                .single-most-product.bd.mb-18
                  .most-product-img
                    a(href='#')
                      img(src='img/product/23.jpg' alt='book')
                  .most-product-content
                    .product-rating
                      ul
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                    h4
                      a(href='#') Voyage Yoga Bag
                    .product-price
                      ul
                        li $30.00
                        li.old-price $33.00
                .single-most-product.bd.mb-18
                  .most-product-img
                    a(href='#')
                      img(src='img/product/24.jpg' alt='book')
                  .most-product-content
                    .product-rating
                      ul
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                    h4
                      a(href='#') Impulse Duffle
                    .product-price
                      ul
                        li $70.00
                        li.old-price $74.00
                .single-most-product
                  .most-product-img
                    a(href='#')
                      img(src='img/product/22.jpg' alt='book')
                  .most-product-content
                    .product-rating
                      ul
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star
                    h4
                      a(href='#') Fusion Backpack
                    .product-price
                      ul
                        li $59.00
          .banner-area.mb-30
            .banner-img-2
              a(href='#')
                img(src='img/banner/33.jpg' alt='banner')
          .left-title-2.mb-30
            h2 Compare Products
            p You have no items to compare.
          .left-title-2
            h2 My Wish List
            p You have no items in your wish list.
// product-main-area-end
// footer-area-start
footer
  // footer-top-start
  .footer-top
    .container
      .row
        .col-lg-12
          .footer-top-menu.bb-2
            nav
              ul
                li
                  a(href='#') home
                li
                  a(href='#') Enable Cookies
                li
                  a(href='#') Privacy and Cookie Policy
                li
                  a(href='#') contact us
                li
                  a(href='#') blog
  // footer-top-start
  // footer-mid-start
  .footer-mid.ptb-50
    .container
      .row
        .col-lg-8.col-md-12
          .row
            .col-lg-4.col-md-4.col-12
              .single-footer.br-2.xs-mb
                .footer-title.mb-20
                  h3 Products
                .footer-mid-menu
                  ul
                    li
                      a(href='about.html') About us
                    li
                      a(href='#') Prices drop 
                    li
                      a(href='#') New products
                    li
                      a(href='#') Best sales
            .col-lg-4.col-md-4.col-12
              .single-footer.br-2.xs-mb
                .footer-title.mb-20
                  h3 Our company
                .footer-mid-menu
                  ul
                    li
                      a(href='contact.html') Contact us
                    li
                      a(href='#') Sitemap
                    li
                      a(href='#') Stores
                    li
                      a(href='register.html') My account 
            .col-lg-4.col-md-4.col-12
              .single-footer.br-2.xs-mb
                .footer-title.mb-20
                  h3 Your account
                .footer-mid-menu
                  ul
                    li
                      a(href='contact.html') Addresses
                    li
                      a(href='#') Credit slips 
                    li
                      a(href='#')  Orders
                    li
                      a(href='#') Personal info
        .col-lg-4.col-md-12
          .single-footer.mrg-sm
            .footer-title.mb-20
              h3 STORE INFORMATION
            .footer-contact
              p.adress
                span My Company
                |                                         Your address goes here.
              p
                span Call us now:
                |  0123456789
              p
                span Email:
                |   demo@example.com
  // footer-mid-end
  // footer-bottom-start
  .footer-bottom
    .container
      .row.bt-2
        .col-lg-6.col-md-6.col-12
          .copy-right-area
            p
              | &copy; 2021 
              strong  Koparion 
              |  Mede with &#x2764;&#xFE0F; by 
              a(href='https://hasthemes.com/' target='_blank')
                strong HasThemes
        .col-lg-6.col-md-6.col-12
          .payment-img.text-right
            a(href='#')
              img(src='img/1.png' alt='payment')
  // footer-bottom-end
// footer-area-end
// Modal
#productModal.modal.fade(tabindex='-1' role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') x
      .modal-body
        .row
          .col-md-5.col-sm-5.col-xs-12
            .modal-tab
              .product-details-large.tab-content
                #image-1.tab-pane.active
                  img(src='img/product/quickview-l4.jpg' alt='')
                #image-2.tab-pane
                  img(src='img/product/quickview-l2.jpg' alt='')
                #image-3.tab-pane
                  img(src='img/product/quickview-l3.jpg' alt='')
                #image-4.tab-pane
                  img(src='img/product/quickview-l5.jpg' alt='')
              .product-details-small.quickview-active.owl-carousel
                a.active(href='#image-1')
                  img(src='img/product/quickview-s4.jpg' alt='')
                a(href='#image-2')
                  img(src='img/product/quickview-s2.jpg' alt='')
                a(href='#image-3')
                  img(src='img/product/quickview-s3.jpg' alt='')
                a(href='#image-4')
                  img(src='img/product/quickview-s5.jpg' alt='')
          .col-md-7.col-sm-7.col-xs-12
            .modal-pro-content
              h3 Chaz Kangeroo Hoodie3
              .price
                span $70.00
              p
                | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.
              form(action='#')
                input(type='number' value='1')
                button Add to cart
              span
                i.fa.fa-check
                |  In stock
// Modal end
// all js here
// jquery latest version
script(src='/public/js/vendor/jquery-1.12.4.min.js')
// popper js
script(src='/public/js/popper.min.js')
// bootstrap js
script(src='/public/js/bootstrap.min.js')
// owl.carousel js
script(src='/public/js/owl.carousel.min.js')
// meanmenu js
script(src='/public/js/jquery.meanmenu.js')
// wow js
script(src='/public/js/wow.min.js')
// jquery.parallax-1.1.3.js
script(src='/public/js/jquery.parallax-1.1.3.js')
// jquery.countdown.min.js
script(src='/public/js/jquery.countdown.min.js')
// jquery.flexslider.js
script(src='/public/js/jquery.flexslider.js')
// chosen.jquery.min.js
script(src='/public/js/chosen.jquery.min.js')
// jquery.counterup.min.js
script(src='/public/js/jquery.counterup.min.js')
// waypoints.min.js
script(src='/public/js/waypoints.min.js')
// plugins js
script(src='/public/js/plugins.js')
// main js
script(src='/public/js/main.js')
// Mirrored from htmldemo.net/koparion/koparion/product-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2022 18:11:15 GMT
